<!-- partials/header-public.html -->
<nav class="public-nav">
    <div class="container">
        <a href="index.html" class="brand">{org_name}</a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="../auth/login.html">Login</a></li>
            <li><a href="../auth/signup.html" class="btn-signup">Sign Up</a></li>
        </ul>
    </div>
</nav>
